ailment==8.18.10.25
ana==0.5
angr==8.18.10.25
-e git+https://github.com/axt/angr-utils@9e26f94a3ef46e9a7c58c362c47a706d3491d763#egg=angr_utils
archinfo==8.18.10.25
backcall==0.1.0
-e git+https://github.com/axt/bingraphvis@130fce8eb365f1252ed95d8e3a59a74b75ad5c22#egg=bingraphvis
bitstring==3.1.5
cachetools==3.0.0
capstone==3.0.5.post1
cffi==1.11.5
claripy==8.18.10.25
cle==8.18.10.25
cooldict==1.4
cycler==0.10.0
decorator==4.3.0
dpkt==1.9.2
future==0.17.1
gitdb2==2.0.5
GitPython==2.1.11
idalink==0.12
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.1
kiwisolver==1.0.1
matplotlib==3.0.2
mulpyplexer==0.8
networkx==2.2
numpy==1.15.4
parso==0.3.1
pefile==2018.8.8
pexpect==4.6.0
pickleshare==0.7.5
plumbum==1.6.7
progressbar==2.5
prompt-toolkit==2.0.7
ptyprocess==0.6.0
pycparser==2.19
pydot==1.4.1
pyelftools==0.25
Pygments==2.3.0
pymongo==3.7.2
pyparsing==2.3.0
python-dateutil==2.7.5
pyvex==8.18.10.25
rpyc==4.0.2
scipy==1.1.0
six==1.12.0
smmap2==2.0.5
sortedcontainers==2.1.0
traitlets==4.3.2
unicorn==1.0.1
wcwidth==0.1.7
z3-solver==4.5.1.0.post2
